body {
	font-family: Helvetica;
	background-image: url("http://www.ufunk.net/wp-content/uploads/2015/04/Reflections-from-Uyuni-6.jpg");
	background-size: 1500px 800px;
}

div.name {
	color: #99ccff;
	margin-left: 10px;
	font-size: 1.25em;
}

pre {
	font-size: 1.5em;
	display: block;
	white-space: pre;
}

div.bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #80bfff;
}

div.bar li {
    float: left;
    border-right:1px solid #bbb;
}

div.bar li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 1.2em;
}

li a:hover {
    background-color: #4da5ff;
}

div.header {
	margin: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4da5ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0065cc;
}

#contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
	width: 30em;
}

#forecast {
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
	margin: 35px;
	width: 10em;
}

#content {
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
	margin: 30px;
	width: 30em;
}

#header {
	font-size: 1.5em;
	font-weight: bold; 
}

#today {
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
	margin: 35px;
	width: 30em;
}

p {
	font-size: 2em;
}

th, td {
	padding: 15px;
}

img {
	width: 12em;
	height: 12em;
}